#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
body {
    background: white url("images/very_good.jpg");
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

a {
    color:#00abff;
    text-decoration:none;
}

h1 {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}
 h3,h4{
        font-weight: 500;
        letter-spacing: 0.7px;
        margin: 0px;
        }
 p{
        margin: 0px;
        color: #555;
        font-size: 15px;
        line-height: 22px;
      }

      /* top-nav */

      /* navbar */
      .navbar{
        min-height: 70px;
        margin-bottom: 0px;
      }
      .navbar-nav>li>a {
        font-size: 15px;
        line-height: 3.428571;
        font-weight: 400;
      }
      .navbar-default .navbar-nav>li>a:hover{
        color: #f00;
        box-shadow: 0px 20px 0px -18px #FF0000;
      }
      .navbar-brand {
        padding:0px 15px;
        line-height: 3.428571;
      }
      .add{
        color: #f00;
        box-shadow: 0px 20px 0px -18px #FF0000;
      }

#content {
   position: relative;
 &::before {
 @include triangle(top,$gray,1.1em);
 position: absolute;
 left: 29px;
 bottom: 100%;
 }
 &::after {
 @include triangle(top,$light-color);
 position: absolute;
 left: 30px;
 bottom: 100%;
 }
}

#sidebar {
    float:right;
    width:30%;
    padding:10px;
    background:#efefef;
    height:100%;
}

p.date {
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

